<div class="span5 product-image animated fadeInRight">
  <%= profile_pic_tag "profile_pics/#{current_auction_player.player.name.downcase.delete(' ')}.jpg", {style: 'height: 250px;width:auto;margin-right: 50px;'} %>
</div>
<div class="span7 product-title animated fadeInRight">
  <h2><%= current_player.name.split(' ').first %><strong> <%= current_player.name.split(' ').drop(1).join(' ') %></strong></h2>
  <div class="product-description">
    <%= hidden_field_tag :base_points, current_auction_player.minimum_bid_amount %>
    <h3>Base Points: <strong><%= current_auction_player.minimum_bid_amount %></strong></h3>
    <div id='bid-info'>
      <%= hidden_field_tag :bid_closed, highest_bid.try(:is_closed) %>
      <%= hidden_field_tag :current_bid_amount, highest_bid.try(:bid_amount) %>
      <% if highest_bid.present? %>
        <% if highest_bid.is_closed? %>
          <%= render 'shared/closed_bid', bid_amount: highest_bid.bid_amount, team_name: highest_bid.team.try(:name) %>
        <% else %>
          <%= render 'shared/bid_info', bid_amount: highest_bid.bid_amount, team_name: highest_bid.team.try(:name) %>
        <% end %>
      <% else %>
        <h2>Start Bidding!</h2>
      <% end %>
    </div>
    <%= hidden_field_tag :auction_player_id, current_auction_player.id, id: 'auction_player_id' %>
  </div>
</div>