<style type="text/css">
input[type=number] {
  float: left;
  font-family: Lato;
  font-weight: 700;
  width: 150px !important;
  margin-right: 3px !important;
  font-size: 2em !important;
  text-transform: uppercase;
  text-align: center;
  color: #93504C;
  border: 2px #93504C solid;
}
</style>
<div class="product-showcase">
  <div class="product-showcase-pattern">
    <div class="container">
      <!-- <div class="row" style="padding-left: 5%;"> -->
      <div class="row" style="padding-left: 2%;">
        <div class="col-md-11 product-background">
          <div id="auction_arena" class="row">
            <%= render 'auction_arena', current_player: @current_player,
                                        current_auction_player: @current_auction_player,
                                        highest_bid: @highest_bid %>
          </div>
          <div class="product-title animated fadeInRight" style="margin-block-end: -1%;margin-top: 4%;margin-left: 37%;">
            <div class="product-description" style="margin-top:-10%">
              <% if current_user.team_owner? %>
                <%= hidden_field_tag :auction_team_id, @current_team.try(:id), id: 'auction_team_id' %>
                <%= number_field_tag :bid_amount, nil, id: 'bid_amount', class: 'input-lg' %>
                <button id="bid-btn" class="bid-submit">Bid!</button>
              <% elsif current_user.admin? %>
                <button id="close-bid-btn" class="bid-submit">Close Bid</button>
                <button id="next-player-btn" class="bid-submit">Next Player</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% if current_user.team_owner? %>
        <%= render 'team_info', current_auction_team: @current_auction_team %>
      <% elsif current_user.admin? %>
        <% @auction_teams.each do |auction_team| %>
          <%= render 'team_info', current_auction_team: auction_team %>
        <% end %>
      <% end %>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </div>
</div>