<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" href="#pablo">The list of users created</a>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Users </h4>
          <div class="pull-right">
            <% if current_user.admin? %>
              <%= link_to 'New User', new_user_path, class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>Name</th>
                <th>Gender</th>
                <th>Minimum Bid Points</th>
                <th>Team</th>
                <th>Bought for</th>
                <!-- <th>Actions</th> -->
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><%= user.name %></td>
                    <td align="center"><%= user.gender.upcase %></td>
                    <td align="center"><%= user.try(:minimum_bid_amount) %></td>
                    <td align="center"><%= user.try(:team_name) %></td>
                    <td align="center"><%= user.try(:bought_for) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
