<!DOCTYPE html>
<html>
  <head>
    <title>Auction Manager V2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>

  <body style="margin: 0px !important;">
    <div class="wrapper ">
      <div class="sidebar" data-color="orange">
        <div class="sidebar-wrapper">
          <div class="card card-user">
            <div class="image">
              <%= image_tag("wp3106634.jpg")%>
            </div>
            <div class="card-body" style="background-color: #f96332; min-height: 10px !important">
              <div class="author">
                <%= image_tag("logo.jpeg", class: "avatar border-gray")%>
              </div>
              <div style="margin-top: -20%; margin-left: 10%;">
                <h4><strong>Auction</strong>Manager</h4>
                <div style="padding-left: 73%;margin-top: -10%;">V2.0</div>
              </div>
            </div>
          </div>
          <ul class="nav">
            <li>
              <%= link_to auctions_path do %>
                <i class="now-ui-icons business_money-coins"></i>
                <p>Auctions</p>
              <% end %>
            </li>
            <li>
              <%= link_to users_path do %>
                <i class="now-ui-icons business_badge"></i>
                <p>Players</p>
              <% end %>
            </li>
            <li>
              <%= link_to teams_path do %>
                <i class="now-ui-icons design_bullet-list-67"></i>
                <p>Teams</p>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="now-ui-icons media-1_button-power"></i>
                <p>Logout</p>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <!-- <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> -->
      <div class="main-panel">
        <%= yield %>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <nav>
          <ul>
            <li>
              JKDESIGNLAB
            </li>
            <li>
            </li>
            <li>
              
            </li>
          </ul>
        </nav>
        <div class="copyright" id="copyright">
         
        </div>
      </div>
    </footer>
  </body>
</html>
